<div id="login">
    <div class="col-xs-12" id="login-popup">
        <div  id="login-header">
            <img ng-click="goToWebApp()" src="icon.png"></img>
        </div>
        <div >
            <h4 id="login-error" ng-show="loginError">LOGIN ERROR: {{loginError}}</h4>
        </div>
        <form id="login-form" name="loginForm" ng-submit="sendLogin(login)">
          <section class="content bgcolor-4">
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" ng-model="login.email" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
              <span class="input__label-content input__label-content--hoshi">Email</span>
            </label>
          </span>
          <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" ng-model="login.password" type="password" id="input-5" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5">
              <span class="input__label-content input__label-content--hoshi">Password</span>
            </label>
          </span>
            <md-button id="login-submit" class="md-raised md-primary" type="submit">Submit</md-button>
        </section>
        </form>
    </div>
</div>
