<div id="landing">
	<div id="mask">
		<div class="panel landing-panel">
			<div class="panel-heading">
				<h3 class="panel-title">
					Welcome to Cohearence
				</h3>
			</div>
			<div class="panel-body">
				<div class="description">
					<p>All your music from the internet in one place.</p>
				</div>
				<md-button class="md-raised md-primary landing-button" ng-click="toggleSignup()">Signup</md-button>
				<md-button class="md-raised md-primary landing-button" ng-click="toggleLogin()">Login</md-button>
				<div id="forms" ng-show="loggingIn || signingUp">
					<login-form ng-show="loggingIn"></login-form>
					<signup-form ng-show="signingUp"></signup-form>
				</div>
			</div>
		</div>
		<div id="description" ng-hide="loggingIn || signingUp">
			<h2>Currently supporting:</h2>
			<div class="col-md-3">
				<a href="https://soundcloud.com" target="_blank">
					<img id="soundcloud" src="soundcloud-landing.png"></img>
					<p>Soundcloud</p>
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://youtube.com" target="_blank">
					<img id="youtube" src="youtube-landing.png"></img>
					<p>YouTube</p>
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://play.spotify.com" target="_blank">
					<img id="spotify" src="spotify-landing.png"></img>
					<p>Spotify</p>
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://bandcamp.com" target="_blank">
					<img id="bandcamp" src="bandcamp-landing.png"></img>
					<p>Bandcamp</p>
				</a>
			</div>
		</div>
	</div>
</div>
