<div id="landing">
	<div id="mask">
		<div class="panel landing-panel">
			<div class="panel-heading">
				<h3 class="panel-title">
					welcome to cohearence
				</h3>
			</div>
			<div class="panel-body">
				<div class="description">
					<p>Cohearance is dope. Sign up.</p>
				</div>
				<md-button class="md-raised md-primary landing-button" ng-click="toggleSignup()">Signup</md-button>
				<md-button class="md-raised md-primary landing-button" ng-click="toggleLogin()">Login</md-button>
				<div id="forms" ng-show="loggingIn || signingUp">
					<login-form ng-show="loggingIn"></login-form>
					<signup-form ng-show="signingUp"></signup-form>
				</div>
			</div>
		</div>
	</div>
</div>
