<div ng-cloak id="list-container">
	<div id="list-header">
		<h2>My Playlists</h2>
	</div>
	<ul>
		<li ng-repeat="playlist in playlists | filter:searchText:false">
			<a ui-sref="playlist({playlistID: playlist._id})" droppable id = "{{playlist._id}}">{{ playlist.name }}</a>
			<button class="btn-remove" ng-click="removePlaylist(playlist._id)"> x </button>
		</li>
	</ul>
	<div id="controls">
		<div class="search">
			<input class="form-control" placeholder="Search" ng-model="searchText">
		</div>
		<button ng-hide="namingPlaylist" ng-click="namePlaylist()" class="btn-add">+</button>
		<form name="playlistForm" ng-submit=" playlistForm.name.$valid && makePlaylist()">
			<button type="submit" id="confirm" class="btn-add" ng-show="namingPlaylist && playlistForm.name.$valid">✓</button>
			<input name="name" class="form-control form-add" placeholder="Playlist Name" ng-show="namingPlaylist" ng-model="playlistName" required ></input>
		</form>
	</div>
</div>
