<div id="landing-login">
    <div class="col-md-6 col-md-offset-3">
        <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
            <alert type="danger" ng-show="error">
                {{ error }}
            </alert>
            <span class="input input--kaede">
                <input class="input__field input__field--kaede" type="text" id="input-35" ng-model="login.email"/>
                <label class="input__label input__label--kaede" for="input-35">
                    <span class="input__label-content input__label-content--kaede">Email</span>
                </label>
            </span>
            <span class="input input--kaede">
                <input class="input__field input__field--kaede" type="password" id="input-36" ng-model="login.password"/>
                <label class="input__label input__label--kaede" for="input-36">
                    <span class="input__label-content input__label-content--kaede">Password</span>
                </label>
            </span>
            <md-button class="landing-submit">Submit</md-button>
        </form>
    </div>
</div>