<ul>
	<li ng-click="load(song.song, index)" ng-class="{'current': current._id === song.song._id}" draggable id="{{song.song._id}}" class="song-list-item">
		<div  class="row" >
				<div class="col-md-3 track-artist">
					<a href="#">{{song.song.artist}}</a>
				</div>
				<div class="col-md-4 track-title">
					<a href="#">{{song.song.title}}</a>
				</div>
				<div class="col-md-1 track-duration">
					<a href="#">{{song.song.duration}}</a>
				</div>
				<div class="col-md-2 track-last-played">
					 <a href="#">{{song.plays[song.plays.length-1] | date}}</a>
				</div>
				<!-- <div data="{{song.song.source.domain}}" class="col-md-1 track-source">
					<a href="{{song.song.source.url}}">{{song.song.source.domain}}</a>
				</div> -->
				<div class="col-md-1 track-source">
					<a id="image-container" href="{{song.song.source.url}}">
						<img id="inline-image" src="{{song.sourceImage}}"></img>
					</a>
				</div>
				<div class="col-md-1 track-delete">
					<button class="btn-remove" ng-click="delete(song)"> x </button>
				</div>
		</div>
	</li>
</ul>
