//navbar
$blue: rgba(60, 178, 208, 1);
$green: #90EE90;
$yellow: #FFFE8D;
$pink: #FFB6C1;
$orange: #FFA07A;
$light-gray: rgb(194, 194, 194);

//original theme
// $background-color: #222222;
// $background-color-light: #333333;

//for presentation
$background-color: #333333;
$background-color-light: rgb(104,104,104);

navbar {
	display: block;
	background: linear-gradient($background-color-light 60%, $light-gray 255%);
	// opacity: 0.7;
	border-bottom: 1px solid black;
	box-shadow: 1px 1px 14px -3px black;
	height: 50px;

	#nav-logo {
		background-color: $blue;
		height: 40px;
		margin-top: 5px;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	}

	ul {
	    li {
	        p {
	            margin: 0px;
	        }
	    }
	    #player-container {
	        padding-top: 15px;
	        padding-left: 20px;
	        #player {
	            margin: 0px;
	        }
	    }
	}

	#marquee-container {
		width: 390px;
		border-radius: 100px;
		// #blur-left {
		// 	// padding-left: 20px;
		// 	width: 50px;
		// 	position: fixed;
		// 	height: 50px;
		// 	color: green;
		// 	z-index: 10;
		// 	// background-color: black;
		// 	background: linear-gradient(90deg, $background-color-light, transparent);
		// 	// position: absolute;
		// }

		#blur-left, #blur-right {
			height: 40px;
			width: 50px;
			z-index: 9999;
			filter: blur(10px);
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
		}

		#blur-left {
			position: absolute;
			background: linear-gradient(to right, rgba(104,104,104,0), rgba(104,104,104,1) 25%);
		}

		#blur-right {
			margin-left: 300px;
			margin-top: -40px;
			background: linear-gradient(to left, rgba(104,104,104,0), rgba(104,104,104,1) 25%);
		}
	}


	#currently-playing {
		// background: radial-gradient($background-color 10%, $blue 70%);
		border-radius: 100px;
		color: white;
		margin-top: 12px;
		margin-left: 40px;
		margin-right: 0px;
		font-size: 18px;
		letter-spacing: .06em;
		font-family: 'roboto', sans-serif;
		width: 200px;
		font-weight: 400;
		#current-song {
			border-radius: 100px;
		}
	}

	.container {
	    width: 91%;
	    max-width: 1340px;
		  padding: none;
	    // padding-top: 20px;
	}

	#progress {
		// width: 500px;
		margin-top: 20px;
		margin-left: 5px;
		#slider {
			width: 400px;
		}
	}
	#duration, #current-time {
		margin-top: 10px;
		font-size: 22px;
	}
	#current-time {
		margin-left: 15px;
	}
	#duration {
		margin-left: 5px;
	}

	p {
		color: $blue;
		display: inline-block;
		font-size: 35px;
	}

	#superscript {

	}

 // .navbar-header {
 //  height: 50px;
 // }


	a {
	    color: green;
	    font-size: 16px;
	}

    .nav > li > a {
	    cursor: pointer;
	    transition: color 0.2s;
	    &.active {
	      color: darken(#f31214, 10%);
	    }
	    &:hover {
	      background: none;
	      color: #f31214;
	    }
	    &:focus {
	      background: none;
	    }
	}

  	.extension-button {
	    float: right;
	    border: 1px solid;
		text-decoration: none;
	    margin-top: 8px;
	    background: none;
		color: $light-gray;
		padding: 5px;
		font-size: 14px;
		font-family: 'lato', sans-serif;
	    // outline: none !important;
  	}

	.welcome {
		float: right;
		margin-top: 12px;
		font-family: 'roboto', sans-serif;
		font-weight: 400;
		font-size: 18px;
		letter-spacing: .06em;

		span {
			color: $light-gray;
			margin-right: 40px;
		}
		a {
			&:hover{
				background-color: $blue;
			}
			transition: background-color 0.7s ease-in-out;
			text-decoration: none;
			font-size: 18px;
			color: $background-color;
			cursor: pointer;
			padding: 6px;
			border-radius: 5px;
			border: solid 1px $background-color;
		}
	}

}
