$background-color: #222;
$link-color: rgba(60, 178, 208, 1);

navbar {
  display: block;
  background: $background-color;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
	height: 50px;

  .container {
    width: 91%;
    max-width: 1340px;
	padding: none;
    // padding-top: 20px;
  }

	p {
		color: $link-color;
		display: inline;
		font-size: 35px;
	}
 // .navbar-header {
 //  height: 50px;
 // }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: $link-color;
      cursor: pointer;
    }
  }

}
