//navbar
$blue: rgba(60, 178, 208, 1);
$green: #90EE90;
$yellow: #FFFE8D;
$pink: #FFB6C1;
$orange: #FFA07A;
$background-color: #222222;
$background-color-light: #333333;


navbar {
	display: block;
	background-color: $background-color;
	// opacity: 0.7;
	border-bottom: 1px solid black;
	box-shadow: 1px 1px 14px -3px black;
	height: 50px;

	.container {
		width: 91%;
		max-width: 1340px;
		padding: none;
		// padding-top: 20px;
	}

	p {
		color: $blue;
		display: inline;
		font-size: 35px;
	}
 // .navbar-header {
 //  height: 50px;
 // }

	a {
		color: black;
		font-size: 16px;
	}

	.nav > li > a {
		cursor: pointer;
		transition: color 0.2s;
		&.active {
			color: darken(#f31214, 10%);
		}
		&:hover {
			background: none;
			color: #f31214;
		}
		&:focus {
			background: none;
		}
	}

  .extension-button {
    float: right;
    border: 1px solid rgb(193, 193, 193);
	text-decoration: none;
    margin-top: 8px;
    background: none;
	color: rgb(193, 193, 193);
	padding: 5px;
	font-size: 14px;
	font-family: 'lato', sans-serif;
    // outline: none !important;
  }

	.welcome {
		float: right;
		margin-top: 12px;
		font-family: 'roboto', sans-serif;
		font-weight: 300;
		font-size: 18px;
		span {
			color: rgb(193, 193, 193);
			margin-right: 40px;
		}
		a {
			font-size: 18px;
			color: $blue;
			cursor: pointer;
			padding: 7px;
			border-radius: 5px;
			border: solid 1px $blue;
		}
	}

}
