

#player i {
    cursor: pointer;
    color: white;
}

.playerbuttons {
    color: #999 !important;
}

i {
    margin-left: 5px;
    display: inline-block;
}

#player {
	display: inline;
}

#progress {
	display: inline;
}


