<div class="col-md-10" id="song-list-container">
		<pre>{{ current }}</pre>
	<div class="panel coolPanel" id="song-list">
		<div class="panel-heading">
			<h2 class="panel-title">{{header}}</h2>
		</div>
		<div ng-if="!playlistView" class="panel-body">
			<!-- <h1 ng-if="!hasSongs">Your library is empty.</h1> -->
			<library-song current="current" next="next" load="load" song="item" index="{{$index}}" ng-repeat="item in view"></library-song>
		</div>
		<div ng-if="playlistView"  class="panel-body">
			<playlist-song song="song" ng-repeat="song in view.songs"></playlist-song>
		</div>
	</div>
</div>
