<div ng-cloak class="col-md-10" id="song-list-container">
	<div class="panel coolPanel" id="song-list">
		<div id="song-search">
			<input placeholder="Search" ng-model="searchLibrary">
		</div>
		<div ng-if="!playlistView" class="panel-heading">
			<h2 class="panel-title">{{header}}</h2>
		</div>
		<div ng-if="playlistView" class="playlist-panel-heading">
			<h2 class="panel-title">{{header}}</h2>
		</div>
		<list-header ng-if="!playlistView" id="list-header-container"></list-header>
		<div ng-if="!playlistView" class="panel-body">
			<empty-message></empty-message>
			<library-song current="current" delete="delete" next="next" load="load" song="item" index="{{$index}}" id="library-song-{{$index}}" ng-repeat="item in view  | filter: searchLibrary"></library-song>
		</div>
		<playlist-header ng-if="playlistView" id="playlist-header-container"></playlist-header>
		<div ng-if="playlistView"  class="panel-body">
			<empty-message></empty-message>
			<playlist-song remove="remove" song="song" ng-repeat="song in view.songs | filter: searchLibrary"></playlist-song>
		</div>
		<span id="blur-footer"></span>
	</div>
</div>
