<div class="col-md-10" id="song-list-container">
	<div class="panel coolPanel" id="song-list">
		<div ng-if="!playlistView" class="panel-heading">
			<h2 class="panel-title">{{header}}</h2>
		</div>
		<div ng-if="playlistView" class="playlist-panel-heading">
			<h2 class="panel-title">{{header}}</h2>
		</div>
		<list-header ng-if="!playlistView" id="list-header-container"></list-header>
		<div ng-if="!playlistView" class="panel-body">
			<div id="empty-message" ng-if="!hasSongs">
				<h1>This is where your songs would be, if you had any. Download our extension to start scrobbling!</h1>
				<a id="cohearence" href="https://chrome.google.com/webstore/detail/blueberry-scrobbler/jhddmhidckejknknbabaniikacgjhomb/related">Cohearance Scrobler</a>
				<a id="soundcloud" href="https://soundcloud.com">Soundcloud</a>
				<a id="youtube" href="https://youtube.com">YouTube</a>
				<a id="spotify" href="https://play.spotify.com">Spotify</a>
				<a id="bandcamp" href="https://bandcamp.com">Bandcamp</a>
			</div>
			<library-song delete="delete" song="item" ng-repeat="item in view"></library-song>
		</div>
		<playlist-header ng-if="playlistView" id="playlist-header-container"></playlist-header>
		<div ng-if="playlistView"  class="panel-body">
			<div id="empty-message" ng-if="!hasSongs">
				<h1>This is where your songs would be, if you had any.</h1>
				<a href="https://chrome.google.com/webstore/detail/blueberry-scrobbler/jhddmhidckejknknbabaniikacgjhomb/related">Download our extension to start scrobbling!</a>
				<br>
				<a id="soundcloud" href="https://soundcloud.com">Soundcloud</a>
				<a id="youtube" href="https://youtube.com">YouTube</a>
				<a id="spotify" href="https://play.spotify.com">Spotify</a>
				<a id="bandcamp" href="https://bandcamp.com">Bandcamp</a>
			</div>
			<playlist-song remove="remove" song="song" ng-repeat="song in view.songs"></playlist-song>
		</div>
	</div>
</div>
