
/*#push {
    height: 60px;
}
*/
#main {
    width: 768px;
    height: 560px;
    border-radius: 2px;
    background-color: #333333;
}

.navbar, .navbar > .container {
  background-color: #3CB2D0;

}

.navbar-brand, .navbar-nav > li > a {
   color: black;
}


#music-library-wrap {
  background-color: #222222;
  color: #3CB2D0;
  height: 405px;
  width: 768px;
  font-size: 18px;
  position: absolute;
  top: 50px;
}

#actual-library {
  height: 350px;
}

#slider {
  margin-left: 17px;
}

.time-status {
  margin-bottom: 3px;
}

.song {
  height: 30px;
}

#popup-container {
    position: absolute;
    bottom: 0;
    /* height: 105px; */
    top: 455px;
    width: 768px;
    padding: 0;
    background-color: #222222;
    color: #3CB2D0;
}

.player-controls {
  margin-top: 30px;
}
#lambda {
    font-size: 30px;
}

#nav-container {
    background-color: #222222;
    color: rgba(60, 178, 208, 1);
    height: 40px;
}

.playerbuttons {
    color: #999 !important;
}

.controls {
    text-align: center;
}

.music-library-header {
  margin-bottom: 10px;
  font-size: 20px;
}

#header-border {
    border-bottom: 1px solid lightgray;
}

i {
    margin-left: 5px;
}

.song {
    font-size: .9em;
}

.song li {
    margin-bottom: 4px;
}

.popup-song {
    list-style-type: none;
}

#player {
  margin-top: 50px;
}
#player i {
    cursor: pointer;
    color: #3CB2D0;
}

.songColumn > span {
    overflow-x: hidden;
}

.popup-nav {
    display: inline;
    list-style-type: none;
    font-size: 25px;
}

.navbar-li {
    display: inline;
    list-style-type: none;
    font-size: 25px;
}

.navbar-ul {
    display: inline;
    list-style-type: none;
    font-size: 25px;
}

#popup-logo {
    font-size: 30px;
}

.progress {
    height: 5px;
}

hr.style14 {
  border: 0;
  height: 1px;
  margin: 3px;
  background-image: -webkit-linear-gradient(left, #222222, #8c8b8b, #222222);
  background-image: -moz-linear-gradient(left, #222222, #8c8b8b, #222222);
  background-image: -ms-linear-gradient(left, #222222, #8c8b8b, #222222);
  background-image: -o-linear-gradient(left, #222222, #8c8b8b, #222222);
}

.not-playing {
    display: none;
}

.spinner {
  margin: 2px auto;
  width: 60px;
  height: 20px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #3CB2D0;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.library-container {
  width: 786px;
}

.music-library-header {
  padding-right: 15px;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
